:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --lavender: #b4befe;
    --blue: #89b4fa;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --shadow: $crust;
}

html,
body,
.github-markdown-body {
    padding: 0 !important;
    max-width: auto !important;
    background-color: var(--base);
    color: var(--text);
    border: 1px solid transparent;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100% !important;
}

.github-markdown-content {
    padding: 32px !important;
    max-width: 980px;
    min-width: 200px;
    margin: 0 auto;
}

/* Some VSCode settings */
.vscode-body.scrollBeyondLastLine {
    margin-bottom: 0;
}
.vscode-body.scrollBeyondLastLine .github-markdown-body {
    padding-bottom: calc(100vh + 10px) !important;
}

/*------|Changes to other elements of markdown|------*/

/* Heading 1 and 2 bottom margin (color adjustment, default is way too dark) */
.github-markdown-body h1,
.github-markdown-body h2 {
    border-bottom: 1px solid var(--borderColor-muted, var(--surface0));
}

/* Blockquotes (notes started with '>' */
.github-markdown-body blockquote {
    padding: 0 1em;
    color: var(--overlay2);
    border-left: .25em solid var(--borderColor-default, var(--surface1));
}

.github-markdown-body pre {
    color: var(--text);
    background-color: var(--mantle);
    border: none;
}

.github-markdown-body code {
    color: var(--text);
}

.github-markdown-body pre code {
    color: inherit;
}

.github-markdown-body code > div {
    background: none;
}

.github-markdown-body.showEditorSelection .code-line .code-line:hover:before {
	border-left: none;
}

.github-markdown-body p,
.github-markdown-body blockquote,
.github-markdown-body ul,
.github-markdown-body ol,
.github-markdown-body dl,
.github-markdown-body table,
.github-markdown-body pre {
  margin-top: 16px;
  margin-bottom: 16px;
}

.vscode-dark.showEditorSelection .code-line:hover:before {
    border-left: 3px solid var(--blue);
}